<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://blobfunction20240202222005.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e665361e-cf3a-4bf5-8c42-d64223f54e39/resourcegroups/BlobHttpTrigger_group/providers/Microsoft.Web/sites/BlobFunction20240202222005</ResourceId>
    <UserName>$BlobFunction20240202222005</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://blobfunction20240202222005.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>